venv
.vscode
__pycache__
.env
*.log

*.tfstate*
*.tfvars
.terraform
*.lock.hcl

expgenerator/**
!expgenerator/BaseGenerator.py
!expgenerator/lambda_exp_generator.zip
!expgenerator/ContextCreator.py
!expgenerator/FinTechGenerator.py
!expgenerator/lambda_function.py
!expgenerator/UserProfileGenerator.py

.DS_Store
